# Environment files
.env
.json

# Output files
*.mp4
*.mp3

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Editor configuration files
.vscode/
.idea/

# System and solution files
.DS_Store
Thumbs.db
myenv/
.venv/
venv/
solutions/
starting points/
